<!DOCTYPE html>
<html lang="<%= config.language || 'en' %>">
    <%- partial('_partial/head') %>
    <%- partial('_partial/configcss/color') %>
    <body>
        <div class="paper">
            
            <% var tags,tagsInside, categories, categoriesInside; %>
            
            <% if(path == "index.html") { %>
                <div class="shadow-drop-2-bottom index-main">
                    <%- partial('_partial/header') %>
                    <%- partial('index') %> 
                    <%- partial('_partial/footer') %>
                </div>
            <% } else if(path == "list/index.html") { %>
                <div class="shadow-drop-2-top paper-main">
                     <%- partial('_partial/post-header') %> 
                     <%- partial('list') %> 
                     <%- partial('_partial/footer') %>
                </div>
            <% } else { %>
                <div class="shadow-drop-2-bottom paper-main">
                    <%- partial('_partial/post-header') %> 
        
                    <% if(tags = (path == "tags/index.html")) { %>
                            <%- partial('tags') %>
                    <% } %>
                    <% if(categories = (path == "categories/index.html")) { %>
                            <%- partial('categories') %>
                    <% } %>

                    <% if(tagsInside = (path.length > "tags/index.html".length && path.substring(0, 5) == "tags/")) { %>
                            <%- partial('_partial/tags-list') %> 
                    <% } %>
                    <% if(categoriesInside = (path.length > "categories/index.html".length && path.substring(0, 11) == "categories/")) { %>
                        <%- partial('_partial/categories-list') %> 
                    <% } %>
                    
                    <!--è¯´æ˜Žæ˜¯æ–‡ç« posté¡µé¢-->
                    <% if (!tags && !categories && !tagsInside && !categoriesInside) { %>
                        <%- partial('post') %>
                    <% } %>
                    
                    <%- partial('_partial/footer') %>
                </div>
            <% } %>
    </body>

<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
    function addDarkmodeWidget() {
      const options = {
          bottom: '64px', // default: '32px'
          right: 'unset', // default: '32px'
          left: '32px', // default: 'unset'
          time: '0.3s', // default: '0.3s'
          mixColor: '#fff', // default: '#fff'
          backgroundColor: '<% if(theme.color.enable) { %> <%=theme.color.background %>  <% } else { %> #e4e4e4 <%}%>',  // default: '#fff'
          buttonColorDark: '#100f2c',  // default: '#100f2c'
          buttonColorLight: '#fff', // default: '#fff'
          saveInCookies: true, // default: true,
          label: 'ðŸŒ“', // default: ''
          autoMatchOsTheme: true // default: true
      }
  
      const darkmode = new Darkmode(options);
      darkmode.showWidget();
      
    }
    window.addEventListener('load', addDarkmodeWidget);
  </script>
</html>