<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
        <div class="paper">
            <% if (is_post() || is_page()) { %>
                <div class="paper-main">
                <%- partial('_partial/post-header') %>
                <%- body %>
                <%- partial('_partial/footer') %>
                </div>
            <% } else { %>
                <div class="index-main">
                    <%- partial('_partial/header') %>
                    <%- body %>
                    <%- partial('_partial/footer') %>
                </div>
            <% } %>
        </div>
    </body>
</html>