<div class="post-main">

    <% if(is_post()) { %>
        <div class="post-main-title">
            <%= page.title %>
        </div>
      
    <% } %>

    <div class="post-md">
        <% if(is_post() && (!('toc' in page) || page.toc == true)) { %>
            <%- toc(page.content, {
                class: 'post-toc',
                list_number: false,
                min_depth: 1,
                max_depth: 6
            }) %>
        <% } %>
        <%- page.content %>
    </div>

    <div class="post-meta">
        <i>
        <% if(is_post()) { %>
            <span><%- date(page.date, "YYYY-MM-DD") %></span>
            <% if(page.tags.data.length > 0 || page.categories.data.length > 0) { %>
                <span>该篇文章被 <%= config.author %></span>
            <% } %>
            <% if(page.tags.data.length > 0) { %>
                <span>打上标签:
                    <% var postTags = page.tags.data; %>
                    <%   for(var j = 0; j < postTags.length; j++) { %>
                        <a href='<%- url_for(postTags[j].path)%>'>
                            <%= postTags[j].name %>
                        </a>
                    <% }  %>
                </span>
             <% } %>
             <% if(page.categories.data.length > 0) { %>
                <span>归为分类:
                    <% var postCategories = page.categories.data; %>
                    <%   for(var j = 0; j < postCategories.length; j++) { %>
                        <a href='<%- url_for(postCategories[j].path)%>'>
                            <%= postCategories[j].name %>
                        </a>
                    <% break;}  %>
                </span>
            <% } %>
        <% } %>
        </i>
    </div>
    <% if (!page.hasOwnProperty('comment') || page.comment == true) { %>
        <%- partial('_partial/comments/comment') %>
    <% } %> 
</div>


