<div class="footer">
    <% if(path != 'index.html') { %>
        <span>© 2022-1999 nino 
            / <a href="/contact">联系</a>
            / <a href="/support">支持</a>
            / <a href="/subscribe">订阅</a>
            / <a href="/friends">近邻</a>
        </span>
    <% } %>
</div>
<!--这是指一条线往下的内容-->
<div class="footer-last">
    <% if(path == 'index.html'){ %>
         <% if(theme.index.footer != null || theme.index.footer != "") { %>
            <% if(theme.index.footer.length > "Email:".length && theme.index.footer.substring(0, 6) == "Email:") { %>
                <% var email = theme.index.footer.substring(6, theme.index.footer.length) %>
                <span class="index-footer-last-span">Email:<%- mail_to(email) %></span>
            <% } else { %>
                <span class="index-footer-last-span"><%= theme.index.footer %></span>
            <% } %>
        <% } %>
    <% } else { %>
        <span class="footer-last-span"><%= theme.post.footer %></span>
    <% } %>
</div>

<%- css('css/a11y-dark.min.css') %>
<%- js('js/highlight.min.js') %>
<%- js('js/highlightjs-line-numbers.js') %>

<script>
    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad();
</script>