<!-- 这个header就是特指index的头部 -->

<% if(theme.index.header != null || theme.index.header == "") {%>
    <div class="index-header-line" >
        <% if(theme.index.hitokoto) { %>
            <span id="quote"></span>
            <script src="<%= url_for('/js/hitokoto.js') %>" ></script>
        <% } else { %>
            <div id="hiddenHeaderContentArray" style="display: none;">
                <% var headerContentArray = theme.index.header %>
                <% var headerContentArrayLength = headerContentArray.length %>
                <% for(let i = 0; i < headerContentArrayLength; i++) { %>
                    <span><%= theme.index.header[i] %></span>
                <% } %>
            </div>
            <span id="targetSpan"></span>
        <% } %>
    </div>
<% } %>
<% if(theme.index.titlePosition == "left") { %>
    <div style="text-align: left;">
<% } else if(theme.index.titlePosition == "center") { %>
    <div style="text-align: center;"> 
<% } %>
        <a class="index-logo" href="<%- url_for() %>"><%= config.title %></a>
        <div style="margin-bottom: 12px;"> 
            <% for (name in theme.menu) { %>
                <% if(theme.menu[name] == '/') { %>
                    <%= name %>
                <% } else if(theme.showInMenu.includes(name)) { %>
                    &nbsp / &nbsp<a href="<%- url_for(theme.menu[name]) %>"><%= name %></a>
                <% } %>
            <% } %>
        </div>
    </div>
