<!-- 这个header就是特指首页的header -->

<% if(theme.index.header != null || theme.index.header == "") {%>
<div class="index-header-line"><span><%= theme.index.header %></span></div>
<% } %>
<a class="index-logo" href="<%- url_for() %>"><%= config.title %></a>
<div class="index-header">
    首页&nbsp / &nbsp  
    <% for (name in theme.menu) { %>
        <% if(name == '文章' || name == '关于') { %>
            <a href="<%- url_for(theme.menu[name]) %>"><%= name %></a>&nbsp / &nbsp 
        <% } %>

        <% if(name == 'Now') { %>
            <a href="<%- url_for(theme.menu[name]) %>"><%= name %></a>
        <% } %>
    <% } %>
</div>
