<div class="header">
    <div class="header-container">
        <img cache-control="max-age=86400" class="header-img" src="<%- url_for('/img/favicon.png') %>" width="10%"></img>
        <div class="header-content">
            <a class="logo" href="<%- url_for() %>"><%= config.title %></a> 
            <span class="description"><%= config.description %></span> 
        </div>
        
    </div>
    
   
    <ul class="nav">
        <% for (name in theme.menu) { %>
            <% if(theme.menu[name].substring(1, theme.menu[name].length) == path.substring(0, path.indexOf("/"))) { %>
                <li><i><span style="color: #000000;"><%= name %></span></i></li>
            <%} else {%>
                <li><a href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
            <% } %>
        <% } %>
    </ul>
</div>